body{
      background-color: #cfd2e1; 
}
.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.login-box {
  background-color: #1f2345; 
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  width: 320px;
}


.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login-title {
  color: white;
  text-align: center;
  font-weight: 500;
  margin-bottom: 10px;
}

.login-form input {
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 14px;
}

.login-form input:focus {
  box-shadow: 0 0 0 2px #5671ff;
}


.login-form button {
  background-color: #5671ff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s;
}

.login-form button:hover {
  background-color: #4358cc;
}


.signup-text {
  color: #bbb;
  font-size: 13px;
  text-align: center;
}

.signup-text a {
  color: #6a8bff;
  text-decoration: none;
}

.signup-text a:hover {
  text-decoration: underline;
}

.password-field {
  position: relative;
  width: 100%;
}

.password-field input {
  width: 94%;
  padding-right: 10px;
}


.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent !important;  
  border: none !important;             
  padding: 0;                        
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;                     
  cursor: pointer;
  font-size: 20px;                     
}

.toggle-password:hover {
  color: #5671ff;
}

.submit-btn {
  background-color: #5671ff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s;
}

.submit-btn:hover {
  background-color: #4358cc;
}


.error-wrapper {
  height: auto;
  min-height: 0;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}


.error-wrapper.hidden {
  max-height: 0;
  opacity: 0;
  margin-top: 0;
}


.error-wrapper.visible {
  max-height: 40px; 
  opacity: 1;
  margin-top: 5px;
}


.error-text {
  color: #ff4d4d;
  font-size: 14px;
  text-align: center;
  transition: opacity 0.8s ease-in-out;
  margin: 0;
}

.error-text.fade-out {
  opacity: 0;
}



